@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a.btn{
    color: white;
    padding: 15px 20px;
    background: #0C2481;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;

}
a.btn:hover{
    color:  #0C2481;
    padding: 15px 20px;
    background: rgba(255,255,255,0.5);
    border: 1px solid #0C2481;
}
.menu{
    background: #0C2481;
    position: relative;
}
.menu .menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu .menu-wrap .wrap-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.logo{
    width: 254px;
    background: #000;
    padding: 9px 20px;
/* .menu .menu-wrap .wrap-left  */
}
.logo img{
    width: 214px;

}
/* .menu .menu-wrap .wrap-left  */
.menu .menu-wrap .wrap-left ul.menus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.menu .menu-wrap .wrap-left ul.menus li:not(:last-child){
    padding-right: 30px;
}
.menu .menu-wrap .wrap-left ul.menus li a{
    color: white;
}
.menu .menu-wrap .wrap-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 43px;
}
.menu .menu-wrap .wrap-right .search-icon{
    width: 19px;
    margin-right: 25px;

}
.menu .menu-wrap .wrap-right p{
    color: white;
    margin-right: 25px;
}
.menu .menu-wrap .wrap-right p::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M298.667,25.6h-85.333c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h85.333c4.71,0,8.533-3.823,8.533-8.533C307.2,29.423,303.377,25.6,298.667,25.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M358.4,25.6h-8.533c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h8.533c4.71,0,8.533-3.823,8.533-8.533C366.933,29.423,363.11,25.6,358.4,25.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.598,435.2H245.41c-12.979,0-23.543,10.564-23.543,23.543v4.122c0,12.979,10.564,23.535,23.535,23.535h21.188c12.979,0,23.543-10.556,23.543-23.535v-4.122C290.133,445.764,279.569,435.2,266.598,435.2z M273.067,462.865c0,3.567-2.901,6.468-6.468,6.468H245.41c-3.575,0-6.477-2.901-6.477-6.468v-4.122c0-3.575,2.901-6.477,6.477-6.477h21.18c3.576,0,6.477,2.901,6.477,6.477V462.865z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M370.227,0H141.781c-17.007,0-30.848,13.841-30.848,30.848v450.304c0,17.007,13.841,30.848,30.848,30.848h228.437c17.007,0,30.848-13.841,30.848-30.839V30.848C401.067,13.841,387.226,0,370.227,0z M384,481.152c0,7.595-6.178,13.781-13.773,13.781H141.781c-7.603,0-13.781-6.187-13.781-13.773V30.848c0-7.595,6.178-13.781,13.781-13.781h228.437c7.603,0,13.781,6.187,13.781,13.781V481.152z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M392.533,51.2H119.467c-4.71,0-8.533,3.823-8.533,8.533v358.4c0,4.71,3.823,8.533,8.533,8.533h273.067c4.71,0,8.533-3.823,8.533-8.533v-358.4C401.067,55.023,397.244,51.2,392.533,51.2z M384,409.6H128V68.267h256V409.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");

    width: 25px;
    height: 24px;
    display: inline-block;
    /* fill: white; */
    background-repeat: no-repeat;
    vertical-align: middle;
}
.menu .menu-wrap .wrap-right a.btn{
    margin-right: 25px;
    color: #0C2481;
    padding: 15px 20px;
    background: white;

}
.menu .menu-wrap .wrap-right a{
    color: #0C2481;
    padding: 10px 20px;
    background: white;
    margin-right: 25px;
    border: 1px solid transparent;
    transition: background-color, border .25s ease-in-out;
}

.menu .menu-wrap .wrap-right a:hover{
    background: rgba(255,255,255,0.5);
    border: 1px solid blue;

}
.menu .menu-wrap .wrap-right .menu-btn{
    display: none;

}
.menu .menu-wrap .wrap-right .menu-btn svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: middle;
}
.menu .menu-wrap .wrap-left ul.menus p{
    display: none;
}
.menu .menu-wrap .wrap-left ul.menus a.btn{
    display: none;

}
.menu .menu-wrap .wrap-left ul.menus .menu-closeBtn{
    display: none;

}
.menu .menu-wrap .wrap-left ul.menus .menu-closeBtn svg{
}
@media screen and (max-width: 1150px){
    .menu .menu-wrap .wrap-right .menu-btn{
        display: block;
    
    }
    .menu .menu-wrap .wrap-right p,
    .menu .menu-wrap .wrap-right a{
        display: none;
    }

    .menu{

    }
    .menu .menu-wrap .wrap-left .dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:62px;
        right: 0;
        transform: translateX(300px);
        transition: transform .5s ease-in-out;
        z-index: 1;
    }
    .menu .menu-wrap .wrap-left .dropdown ul.menus {
        display: block;
        text-align: center;
        padding: 0;
        
        
    }
    .menu .menu-wrap .wrap-left  .dropdown.active{
        transform: translateX(0);
        transition: transform .5s ease-in-out;


    }
    .menu .menu-wrap .wrap-left ul.menus li{
        padding: 20px 10px;
    }
    .menu .menu-wrap .wrap-left ul.menus .menu-closeBtn{
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
        display: block;

    }
    .menu .menu-wrap .wrap-left ul.menus .menu-closeBtn svg{
        width: 20px;
        height: 20px;
        fill: white;
    }
    .menu .menu-wrap .wrap-left ul.menus p{
        color: white;
        margin-bottom: 25px;
        display: block;
    }
    .menu .menu-wrap .wrap-left ul.menus p::before{
        content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M298.667,25.6h-85.333c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h85.333c4.71,0,8.533-3.823,8.533-8.533C307.2,29.423,303.377,25.6,298.667,25.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M358.4,25.6h-8.533c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h8.533c4.71,0,8.533-3.823,8.533-8.533C366.933,29.423,363.11,25.6,358.4,25.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.598,435.2H245.41c-12.979,0-23.543,10.564-23.543,23.543v4.122c0,12.979,10.564,23.535,23.535,23.535h21.188c12.979,0,23.543-10.556,23.543-23.535v-4.122C290.133,445.764,279.569,435.2,266.598,435.2z M273.067,462.865c0,3.567-2.901,6.468-6.468,6.468H245.41c-3.575,0-6.477-2.901-6.477-6.468v-4.122c0-3.575,2.901-6.477,6.477-6.477h21.18c3.576,0,6.477,2.901,6.477,6.477V462.865z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M370.227,0H141.781c-17.007,0-30.848,13.841-30.848,30.848v450.304c0,17.007,13.841,30.848,30.848,30.848h228.437c17.007,0,30.848-13.841,30.848-30.839V30.848C401.067,13.841,387.226,0,370.227,0z M384,481.152c0,7.595-6.178,13.781-13.773,13.781H141.781c-7.603,0-13.781-6.187-13.781-13.773V30.848c0-7.595,6.178-13.781,13.781-13.781h228.437c7.603,0,13.781,6.187,13.781,13.781V481.152z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M392.533,51.2H119.467c-4.71,0-8.533,3.823-8.533,8.533v358.4c0,4.71,3.823,8.533,8.533,8.533h273.067c4.71,0,8.533-3.823,8.533-8.533v-358.4C401.067,55.023,397.244,51.2,392.533,51.2z M384,409.6H128V68.267h256V409.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");

    width: 25px;
    height: 24px;
    display: inline-block;
    /* fill: white; */
    background-repeat: no-repeat;
    vertical-align: middle;
    }
    .menu .menu-wrap .wrap-left ul.menus a.btn{
        /* margin-right: 25px; */
        color: #0C2481;
        padding: 15px 20px;
        background: white;
        margin-top: 10px;
        display: inline-block;
    }
    .menu .menu-wrap .wrap-left ul.menus a.btn:hover{
        
    background: rgba(255,255,255,0.5);
    border: 1px solid blue;
    }
}
@media screen and (max-width: 450px){
    .menu .menu-wrap .wrap-left .logo {
        width: 150px;
        background: #000;
        padding: 7px 20px;
    }
    .menu .menu-wrap .wrap-left .logo img {
        width: 114px;
    }
    .menu .menu-wrap .wrap-right {
        
        margin-right: 13px;
    }
    .menu .menu-wrap .wrap-right .search-icon {
        width: 19px;
        margin-right: 15px;
    }
    .menu .menu-wrap .wrap-left .dropdown{
        top: 42px;
    }
}
.header{
    background-image: url(../imgs/bg-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}.header .header-wrap{
    /* width: 100%; */
    height: 100vh;
    /* display: flex; */
    display: flex;
    align-items: center;
    font-family: "Poppins";
    


}
.slick-initialized .slick-slide {
    display: block;
    outline: 0;
}
.header .header-wrap .slider{
    width: 100%;
    max-width: 720px;
    
    padding-right: 34px;
    margin: 0 auto;
    background: rgba(255,255,255,0.85);
    position: relative;
    left: -8%;
    border-top: 3px solid #0C2481;
    border-radius: 5px;
}
.header h3{
    padding: 0;
    margin: 0;
}
.header .header-wrap .slider .header-wrap-content{
    padding: 15px 0;
    outline: none;
    padding-left: 107px;
    
}
.header .header-wrap .slider .header-wrap-content h1{
    font-size: 36px;
    padding-right: 2px;
    position: relative;
}
.header .header-wrap .slider .header-wrap-content h1::before{
    content: "";
    width: 45px;
    height: 2px;
    display: inline-block;
    /* margin-right: 7px; */
    background: black;
    vertical-align: middle;
    position: absolute;
    left: -48px;
    top: 26px;
}
.header .header-wrap .slider .header-wrap-content p{
    font-size: 13px;
}
.header .header-wrap .slider .header-wrap-content .Btn{
    margin: 57px 0 40px 0;
}



.header .header-wrap .slider ul.slick-dots {
    position: absolute;
    top: 50%;
    left: 18px;
    width: auto;
    height: max-content;
    transform: translateY(-50%);
}
.header .header-wrap .slider ul.slick-dots li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
}
.header .header-wrap .slider ul.slick-dots li button:before {
    content: '';
    width: 2px;
    height: 16px;
    background-color: #4d5b6c;
}
.header .header-wrap .slider ul.slick-dots li button {
    padding: 0;
    width: auto;
    height: auto;
}
.header .header-wrap .slider ul.slick-dots li.slick-active button::before {
    background-color: #0d2481;
}
.header .header-wrap .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
    padding-left: 107px;
 
}




@media screen and (max-width: 991px){
    .header .header-wrap .slider{
        left: 0;
    }
}
@media screen and (max-width: 725px){
    .header .header-wrap .slider{
    }
    .header .header-wrap .slider .header-wrap-content h1::before {
        left: -37px;
        top: 18px;
        width: 32px;
    }
    .header .header-wrap .slider .header-wrap-content h1 {
        font-size: 25px;
        padding-right: 0;
    }
    .header .header-wrap .slider .header-wrap-content {
        
        padding-left: 50px;
    }
}
@media screen and (max-width: 450px){
    .header .header-wrap .slider .header-wrap-content .Btn {
        margin: 30px 0 40px 0;
    }
}
.main{
width: 100%;
padding: 0 5px;

}
.main .container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.main .brands{
    width: 100%;
    max-width: 80%;
    margin: 10px auto;
    

}
.main .brands .brands-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}
.main .brands .brands-wrap .brand-img{
    width: 120px;
    margin: 10px 20px;
}

.main .brands .brands-wrap .brand-img img{
    width: 100%;
    filter: grayscale(100%);
    /* opacity: .2; */
    transition:  0.5s ease-in-out;

}
.main .brands .brands-wrap .brand-img img:hover{
    filter: grayscale(0%);
    /* opacity: 1; */
}
@media screen and (max-width: 410px){
    .main .brands {
        max-width: 100%;
    }
    .main .brands .brands-wrap .brand-img {
        width: 80px;
        margin: 10px;
    }
}
.services{
    background: #0C2481;
    color: white;
}
.services .services-wrap{
    display: flex;
    flex-wrap: wrap;
}
.services .services-wrap .wrap-right{
    width: 100%;
    max-width: 40%;
    
}
.services .services-wrap .wrap-right img{
    width: 100%;
    height: 100%;
}
.services .services-wrap .wrap-left{
    width: 100%;
    max-width: 60%;
    padding: 59px 0 59px 76px;

}
.globall-heading p.h-line::before{
    content: "";
    width: 45px;
    height: 2px;
    display: inline-block;
    /* margin-right: 7px; */
    background: white;
    vertical-align: middle;
    margin-right: 5px;
    
}
.services .services-wrap .wrap-left .left-content .lists{
    display: flex;
    flex-wrap: wrap;
    
}
.services .services-wrap .wrap-left .left-content .lists ul.left{
    width: 100%;
    max-width: 50%;
    margin-left: -21px;
}
.services .services-wrap .wrap-left .left-content .lists ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    margin-right: 7px;

}

.services .services-wrap .wrap-left .left-content .lists ul li{
    line-height: 2.5;
    border-top: 2px solid transparent;
    padding: 0 20px;
    margin-left: -20px;
    cursor: pointer;
    /* transition:  all .25s ease-in-out; */


}
.services .services-wrap .wrap-left .left-content .lists ul li.active{
    border-top: 2px solid white;
    border-radius: 5px;
    background:#19338A;
    /* height: 180px; */
    /* display: none; */
    transition:all .25s ease-in-out;

}

.services .services-wrap .wrap-left .left-content .lists ul li p{
    color: #98a5d9;
    line-height: 1.75;
    font-size: 15px;
    letter-spacing: normal;
    margin-left: 17px;
    padding-bottom: 17px;
    display: none;
    margin: 0;

}
.services .services-wrap .wrap-left .left-content .lists ul.right{
    width: 100%;
    max-width: 50%;
}
.services .services-wrap .wrap-left .left-content .paragraph{
    margin-top: 30px;
}
.services .services-wrap .wrap-left .left-content .paragraph p{
    background: #0B2175;
    padding: 15px 55px;
    display: inline-block;
}
.services .services-wrap .wrap-left .left-content .paragraph p span{
    color: #98a5d9;
}
@media screen and (max-width: 1150px){
    .services .services-wrap .wrap-left .left-content .lists ul li{
        font-size: 15px;
    }
}
@media screen and (max-width: 991px){
    .services .services-wrap .wrap-left{
        max-width: 100%;

    }
    .services .services-wrap .wrap-right{
        max-width: 100%;
    }
    .services .services-wrap .wrap-right img{
        max-height: 500px;
        object-fit: cover;
    }
}
@media screen and (max-width: 575px){
    .services .services-wrap .wrap-left .left-content .lists ul.left{
        max-width: 100%;
    }
    .services .services-wrap .wrap-left .left-content .lists ul.right{
        max-width: 100%;
    }
    .services .services-wrap .wrap-left {
        width: 100%;
        max-width: 60%;
        padding: 40px;
    }
    .services .services-wrap .wrap-left{
        max-width: 100%;
        text-align: center;
    }
    .services .services-wrap .wrap-left .left-content .lists{
        justify-content: center;
    }
}

/* work */
.work{
    margin: 50px -70px 50px 0px;
}
.work .work-wrap{
    display: flex;
    flex-wrap: wrap;
}
.work .work-wrap .wrap-left .globall-heading p.h-line::before{
    background: black;
}
.work .work-wrap .wrap-left{
    padding-right: 10px;
}
.work .work-wrap .wrap-left .Btn{
    margin-top: 90px;
}
.work .work-wrap .wrap-left{
    width: 100%;
    max-width: 35%;
    margin-top: 100px;
    padding-right: 109px;
}
.work .work-wrap .wrap-right1{
    width: 100%;
    max-width: 65%;
    margin-right: -5%;

}
.work .work-wrap .wrap-right1 .right-imgs{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;

}
.work .work-wrap .wrap-right1 .right-imgs .work-imgs{
    width: 100%;
    max-width: 33.33%;
    transition: .25s ease-in-out;
    margin: 50px 0;

}
.work .work-wrap .wrap-right1 .right-imgs .work-imgs:hover{
    transform: scaleX(1.1) scaleY(1.15);
}
.work .work-wrap .wrap-right1 .right-imgs .work-imgs img{
    width: 100%;
    padding-left: 30px;
    height: 100%;
    
}

.work .work-wrap .wrap-right1 ul.slick-dots {
    position: absolute;
    bottom: 8%;
    left: 0px;
    width: auto;
    height: max-content;
}
.work .work-wrap .wrap-right1 ul.slick-dots li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
}
.work .work-wrap .wrap-right1 ul.slick-dots li button:before {
    content: '';
    width: 2px;
    height: 16px;
    background-color: #4d5b6c;
}
.work .work-wrap .wrap-right1 ul.slick-dots li button {
    padding: 0;
    width: auto;
    height: auto;
}
.work .work-wrap .wrap-right1 ul.slick-dots li.slick-active button::before {
    background-color: #0d2481;
}
.work .work-wrap .wrap-right1 .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
 
}
@media screen and (max-width: 1250px){
    .work .work-wrap .wrap-left .Btn {
        margin-top: 30px;
    }
    .work .work-wrap .wrap-left {
        padding-right: 30px;
    }
    .work .work-wrap .wrap-right1 ul.slick-dots {
        bottom: 12%;
        
    }
    .work .work-wrap .wrap-right1 .right-imgs .work-imgs img {
        padding-left: 15px;
    }
}
@media screen and (max-width: 991px){
    .work{
        margin: 30px -70px 40px -30px;
    }
    .work .work-wrap .wrap-left p{
        font-size: 12px;
    }
}
@media screen and (max-width: 767px){
    .work .work-wrap .wrap-left {
        max-width: 100%;
    }
    .work .work-wrap .wrap-right1 {
        max-width: 100%;
    }
    .work {
    margin: 10px -19px 40px 0px;
}
    .work .work-wrap .wrap-left .Btn {
        margin-top: 50px;
    }
    .work .work-wrap .wrap-left p{
        font-size: 16px;
    }
}

.product{

}
.product .product-wrap{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.product .product-wrap .wrap-card{
    width: 100%;
    max-width: 35%;
    box-shadow: 0px 4px 40px 0 rgba(0, 126, 246, 0.1);
    outline: 0;
}
.product .product-wrap .wrap-card .card-wrap .bgVideo{
    position: relative;
    height: 270px;
}
.product .product-wrap .wrap-card .card-wrap .bgVideo video{
    width: 100%;
    /* height: 310px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    
    
}
.product .product-wrap .wrap-card .card-wrap .bgVideo img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;

}
.product .product-wrap .wrap-card .card-wrap .bgVideo .playIcon{
    z-index: 1;
}

.product .product-wrap .wrap-card .card-wrap .bgVideo .pauseIcon{
    /* z-index: 1; */
    display: none;
}
.product .product-wrap .wrap-card .card-wrap .bgVideo .playIcon, .pauseIcon{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    /* left: 0; */
    right:50%;
    /* bottom: 0; */
    transform: translateX(50%) translateY(-50%);
}
.product .product-wrap .wrap-card .card-wrap .bgVideo .playIcon img{
    width: 100%;
    padding: 15px 13px 11px 21px;

}
.product .product-wrap .wrap-card .card-wrap .bgVideo .pauseIcon img{
    width: 100%;
    padding: 16px;
}
.product .product-wrap .wrap-container{
    width: 100%;
    max-width: 65%;
    padding-left: 89px;
    margin-top: -20px;
}
.product .product-wrap .wrap-card .card-wrap .card-data p{
    padding-right:99px;
}
.product .product-wrap .wrap-card .card-wrap .card-data{
    margin: 100px 30px 50px 50px; 
}
.product .product-wrap .wrap-card .card-wrap .card-data h3{
    margin: 40px 0;
    position: relative;
    margin: 79px 0 20px 0;
}
.product .product-wrap .wrap-card .card-wrap .card-data h3 span{
    color: #0d2481;
    font-size: 16px;
    margin-left: 20px;
}


.product .product-wrap .wrap-card ul.slick-dots {
    position: absolute;
    bottom: 2%;
    left: 10%;
    width: auto;
    height: max-content;
    transform: rotate(90deg);
}
.product .product-wrap .wrap-card ul.slick-dots li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
}
.product .product-wrap .wrap-card ul.slick-dots li button:before {
    content: '';
    width: 2px;
    height: 16px;
    background-color: #4d5b6c;
}
.product .product-wrap .wrap-card ul.slick-dots li button {
    padding: 0;
    width: auto;
    height: auto;
}
.product .product-wrap .wrap-card ul.slick-dots li.slick-active button::before {
    background-color: #0d2481;
}





























p.h-line::before{
    content: "";
    width: 45px;
    height: 2px;
    display: inline-block;
    /* margin-right: 7px; */
    background: black;
    vertical-align: middle;
    margin-right: 5px;
}
.product .product-wrap .wrap-container .product-heading p.h-line::before{
    content: "";
    width: 45px;
    height: 2px;
    display: inline-block;
    /* margin-right: 7px; */
    background: black;
    vertical-align: middle;
    margin-right: 5px;
}
/* .product .product-wrap .wrap-container .product-rows .product-wrap-row1{

    display: flex;
    flex-wrap: wrap;
} */
.product .product-wrap .wrap-container .product-rows .product-wrap-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 53px;
}
.product .product-wrap .wrap-container .product-rows .product-wrap-row .product-box{
    width: 100%;
    max-width: 50%;
    margin: 20px 0;
    padding-right: 97px;
}
@media screen and (max-width: 1250px){
    .product .product-wrap .wrap-card .card-wrap .card-data {
        margin: 100px 10px 50px 25px;
    }
    .product .product-wrap .wrap-card .card-wrap .card-data p {
        padding-right:30px;
    }
    .product .product-wrap .wrap-container {
        padding-left: 40px;
    }
    .product .product-wrap .wrap-container .product-rows .product-wrap-row .product-box {
        width: 100%;
        max-width: 50%;
        margin: 10px 0;
        padding-right: 20px;
    }
    .product .product-wrap .wrap-container .product-rows .product-wrap-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
}
@media screen and (max-width: 991px){
    /* .product .product-wrap {
        margin-right: -73px;
    } */
    .product .product-wrap .wrap-container .product-rows .product-wrap-row .product-box p{
        font-size: 13px;
    }
    .product .product-wrap .wrap-container .product-heading p{
        font-size: 13px;
    }
}
@media screen and (max-width: 767px){
    .product .product-wrap .wrap-container .product-rows .product-wrap-row .product-box {
        width: 100%;
        max-width: 50%;
        margin: 5px 0;
        padding-right: 10px;
    }
    .product .product-wrap .wrap-card .card-wrap .card-data p {
        padding-right: 15px;
    }
}
@media screen and (max-width: 575px){
    .product .product-wrap .wrap-card {
        max-width: 100%;
    }
    .product .product-wrap .wrap-container {
        max-width: 100%;
        margin-top: 20px;
    }
    .product .product-wrap .wrap-container .product-rows .product-wrap-row .product-box{
        width: 100%;
        max-width: 50%;
        margin: 20px 0;
        padding-right:20px;
    }
    /* .product .product-wrap {
        margin-right: -20px;
    } */
}
@media screen and (max-width: 450px){
    .product .product-wrap .wrap-container .product-rows .product-wrap-row .product-box {
        
        max-width: 100%;
        text-align: center;
        
    }
}



/* articles */
.articles{

}
.articles .article-wrap{

}
.articles .article-wrap .article-heading{
    width: 100%;
    max-width: 45%;
    margin: 20px 0;
    padding: 0 20px;
}
.articles .article-wrap .article-heading p.paragraph{
    font-size: 13px;
}
.articles .article-wrap .articles-row{
    display: flex;
    flex-wrap: wrap;

}
.articles .article-wrap .articles-row .article-left{
    width: 100%;
    max-width: 45%;
}
.articles .article-wrap .articles-row .article-left .left-content img{
    width: 100%;
}
.articles .article-wrap .articles-row .article-right{
    width: 100%;
    max-width: 55%;
    padding-left: 70px;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-img{
    width: 100%;
    max-width: 35%;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content img{
    width: 100%;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-text{
    width: 100%;
    max-width: 65%;
    padding-left: 50px;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-img{
    width: 100%;
    max-width: 35%;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content img{
    width: 100%;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row2{
    margin: 86px 0;
}
.articles .article-wrap .articles-row .article-right .right-content .btn1{
    text-align: right;
    margin: 30px 0;
}
.articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-text{
    width: 100%;
    max-width: 65%;
    padding-left: 50px;
}
@media screen and (max-width: 1250px){
    .articles .article-wrap .articles-row .article-right {
        padding-left: 30px;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-text {
        padding-left: 25px;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-text {
        padding-left: 25px;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row2 {
        margin: 36px 0;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-text p{
        font-size: 13px;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-text p{
        font-size: 13px;
    }
}
@media screen and (max-width: 767px){
    .articles .article-wrap .articles-row .article-left {
        width: 100%;
        max-width: 100%;
    }
    .articles .article-wrap .articles-row .article-right {
        max-width: 100%;
        padding-left: 0;
    }
}
@media screen and (max-width: 450px){
    .articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-img {
        max-width: 100%;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-text {
        max-width: 100%;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row1 .row1-content .row1-text p {
        font-size: 20px;
    }
    
    .articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-img {
        max-width: 100%;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-text {
        max-width: 100%;
    }
    .articles .article-wrap .articles-row .article-right .right-content .right-row2 .row2-content .row2-text p{
        font-size: 20px;
        
    }
}
.footer{
    
    padding: 0;
    margin: 0 10px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1184' height='986.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-size: cover;
}
.footer .footer-contact{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 4% 40px;
    margin: 0 -6%;
    background-color: #0C2481;
    color: white;
    opacity: 0.89;
    align-items: center;
}
.footer .footer-contact .left{
    width: 100%;
    max-width: 50%;
    padding-right: 30px;
}
.footer .footer-contact .left p.h-line::before{
    background-color: white;
    margin-bottom: 3.5px;
}
.footer .footer-contact .left p{
    font-size: 16px;
    color: #98a5d9;
}
.footer .footer-contact .right{
    width: 100%;
    max-width: 50%;
    text-align: center;

}
.footer .footer-contact .right img{
    width: 83px;
    height: 83px;
}
.footer .footer-contact .right .footer-btn a{
    background-color: #011979;
    display: inline-block;
    opacity: 1;
    margin: 30px 0;
    padding: 15px 60px;
    color: white;
    transition: all .5s ease-in-out;


}
.footer .footer-contact .right .footer-btn a:hover{
    background-color: rgba(255,255,255,0.5);
    color: blue;

}
@media screen and (max-width:991px){
    .footer .footer-contact .left{
        max-width: 60%;
        padding-right: 0;
    }
    .footer .footer-contact .right{
        max-width: 40%;
    }
}
@media screen and (max-width: 575px){
    .footer .footer-contact .left{
        max-width: 100%;
    }
    .footer .footer-contact .right{
        max-width: 100%;
        margin-top: 30px;
    }
}
.footer-bottom .bottom-wrap{
    display: flex;
    flex-wrap: wrap;
}
.footer-bottom .bottom-wrap .left{
    width: 100%;
    max-width: 40%;
}
.footer-bottom .bottom-wrap .left p{
    color: #4c5a6b;
    font-weight: 14px;
    line-height: 1.75;
}
.footer-bottom .bottom-wrap .left p.l-paragraph{
    margin: 40px 0 20px;
}
.footer-bottom .bottom-wrap .right{
    width: 100%;
    max-width: 60%;
}
.footer-bottom .bottom-wrap .left .offices{
    display: flex;
    flex-wrap: wrap;
    padding-right: 38px;
} 
.footer-bottom .bottom-wrap .left .offices .office-left{
    width: 100%;
    max-width: 50%;
}
.footer-bottom .bottom-wrap .left .offices .office-right{
    width: 100%;
    max-width: 50%;
}
.footer-bottom .bottom-wrap .left .offices p.h-line{
    color: #1e2329;
}
.footer-bottom .bottom-wrap .left .offices .office-left{
    padding-right: 25px;
}
/* .footer-bottom .bottom-wrap .left .offices .office-right{
    padding-left: 10px;
} */
.footer-bottom .bottom-wrap .left .offices p.f1{
    line-height: 2.14;
    color: #4d5b6c;
    font-size: 14px;
}
.footer-bottom .bottom-wrap .right .right-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    padding-left: 150px;
}
.footer-bottom .bottom-wrap .right .right-container .inner{
    width: 100%;
    max-width: 33.33%;
    align-items: center;
}
.footer-bottom .bottom-wrap .right .right-container .inner li a{
    line-height: 2.86;
    letter-spacing: 0.56px;
    color: #4d5b6c;
}
.footer-bottom .bottom-wrap .right .right-container .inner ul{
    padding: 0;
}
.footer-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #4c5a6b;
    margin: 60px 0 10px;
}
.footer-bar .right .right-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    text-align: right;
}
/* .footer-bar .left{
    width: 100%;
    max-width: 50%;
}
.footer-bar .right{
    width: 100%;
    max-width: 50%;
    text-align: right;
} */
.footer-bar .right .right-container p{
    padding-right: 30px;
}
@media screen and (max-width: 1250px){
    .footer-bottom .bottom-wrap .right .right-container{
        padding-left: 50px;
    }
}
@media screen and (max-width: 991px){
    
    .footer-bottom .bottom-wrap .left {
        max-width: 100%;
    }
    .footer-bottom .bottom-wrap .left .offices {
        padding-right: 0;
    }
    .footer-bottom .bottom-wrap .right {
        max-width: 100%;
    }
    
}
/* @media screen and (max-width: 700px){
    .footer-bar .right .right-container p {
        padding-left: 0;
    }
} */
@media screen and (max-width: 575px){
    /* .footer-bottom .bottom-wrap .right .right-container .inner{
        max-width:50%;
        align-items: center;
        text-align: center;
    } */
    .footer-bottom .bottom-wrap .right .right-container {
        padding-left: 10px;
    }
    .footer-bottom .bottom-wrap .left .offices .office-left {
        max-width: 100%;
        text-align: center;
    }
    .footer-bottom .bottom-wrap .left .offices .office-right {
        max-width: 100%;
        text-align: center;

    }
    .articles .article-wrap .article-heading {
        max-width: 100%;
        
    }
    
}
@media screen and (max-width: 491px){
    .footer-bottom .bottom-wrap .right .right-container .inner {
    max-width: 50%;
    /* align-items: center;
     */
     
    }
    .footer-bottom .bottom-wrap .right .right-container {
        
        justify-content: left;
        
    }
}
@media screen and (max-width: 340px){
    .footer-bottom .bottom-wrap .right .right-container .inner {
        max-width: 100%;
}
.footer-bottom .bottom-wrap .right .right-container {
        
    justify-content: center;
    text-align: center;
    
}
}